@import '../../styles/colors';

.card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  min-width: 280px;
  min-height: 350px;
  margin-top: 1.5em;
  padding: 1.5em;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $secondary;
  }
  @media screen and (max-width: 768px) {
    min-height: 300px;
  }
}
