@import '../../styles/colors';

.btnPrimary {
  background-color: $primary;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  span {
    margin-left: 1em;
  }
  &:hover {
    transform: scale(1.05) translateX(5px);
    background-color: $secondary;
  }
  &:active:hover {
    transform: scale(0.98);
  }
}
