@import "./colors";

.btn {
  @apply flex items-center justify-center gap-x-2 px-12 py-3  font-medium transition-all duration-500 ease-in-out;
}

.btn-sm {
  padding: 0.5em 1em !important;
}

.btn-xs {
  font-size: 14px !important;
  font-weight: 600;
  padding: 0.5em !important;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-link {
  color: #4338ca;
  &:hover {
    text-decoration: underline;
  }
}

.nav-link {
  @apply text-lg hover:text-primary transition-all ease-in-out duration-500;
}
