@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors";
@import "./button.scss";

* {
  @apply font-jost;
}

code {
  @apply font-fira;
}

.landingArea {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.about {
  @apply text-center sm:w-[35ch] mx-auto text-xl sm:text-3xl pt-12 z-50 mt-8;
}
.contact {
  border: none !important;
  padding: 6rem 1rem 10rem;

  h4 {
    @apply w-[10ch] text-center text-5xl md:text-[96px]  mx-auto;
    font-family: "DM Serif Display", serif !important;
  }
  button {
    @apply h-24 w-24 text-5xl flex items-center justify-center mx-auto mt-24 rounded-full border-2 border-white text-white hover:bg-primary hover:border-primary hover:-rotate-45 overflow-hidden transition-all ease-in-out duration-500;
  }
}
.testimonials {
  min-height: 85vh;
  padding-top: 1.5rem !important;
  padding-bottom: 8rem;
  overflow-x: hidden;
  .user {
    width: fit-content;
    font-size: 1rem;
    margin-top: 1em;
    span {
      display: block !important;
      @apply text-black dark:text-white;
      font-size: 1.2rem;
      font-weight: 600;
    }
    @apply text-neutral-500;
  }
}
.avatar {
  height: 64px !important;
  width: 64px !important;
  cursor: pointer !important;
  img {
    padding: 4px !important;
    width: 100%;
    height: 100%;
    border-radius: 64px;
  }
}
.button-group {
  justify-content: flex-end;
  button {
    @apply text-2xl flex items-center justify-center p-3 border rounded-full hover:text-white hover:bg-primary hover:border-primary hover:shadow-xl transition-all ease-in-out duration-500;
    :disabled {
      opacity: 0.2 !important;
    }
  }
}
.qoute {
  height: 6rem;
  position: absolute;
  top: -2em;
  left: -2em;
  opacity: 0.1;
}

.body {
  width: fit-content !important;
  max-width: 75ch;
  p {
    // max-width: 75ch;
  }
  @media only screen and (max-width: 768px) {
    max-width: 30ch;
  }
}
.jobCardWrapper {
  ul {
    li {
      @apply mb-2 pl-2 list-disc ml-4;
      &:last-of-type {
        @apply border-b border-neutral-500 pb-6;
      }
    }
  }
}
.button-wrapper {
  display: flex;
  justify-content: center;
  button {
    @apply btn btn-sm rounded-full border border-neutral-500 text-neutral-500 hover:bg-indigo-500 hover:text-white hover:border-indigo-500;
  }
}
