@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

* {
  font-family: 'Lexend', sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(175, 175, 175);
}
::-webkit-scrollbar-thumb {
  background: $primary;
  &:hover {
    background: $secondary;
  }
}

section {
  padding: 4rem 0;
}

h2 {
  font-size: 26px;
  line-height: 100%;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  color: $gray;
  margin-bottom: 30px;
  text-transform: uppercase;
}

label {
  margin-top: 2em;
}

input,
textarea {
  background: transparent;
  display: block;
  width: 100%;
  border-bottom: 2px solid $gray;
  padding: 0.5em 1em;
  transition: all 0.5s ease-in-out;
  outline: none;
  &:hover {
    border-bottom: 2px solid $darkGray;
    outline: none;
  }
  &:focus {
    border-bottom: 2px solid $primary;
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 300;
  }
}

.backToTop {
  color: white;
  position: fixed;
  right: 0;
  font-size: 16px;
  bottom: 2rem;
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background: $primary;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5em;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
  span {
    display: inline-block;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    transform: translateX(100px);
    margin-left: 10px;
  }
  img {
    transform: translateX(50px);
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    opacity: 1;
    width: 150px;
    span {
      transform: translateX(0);
    }
    img {
      display: none;
    }
  }
}

.space {
  display: block;
  height: 2.5em;
}

.btn-right {
  &:hover {
    img {
      animation-duration: 0.5s;
      animation-name: btnRightAnimation;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
.btn-down {
  &:hover {
    img {
      animation-duration: 0.5s;
      animation-name: btnDownAnimation;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
.stylishHeading {
  font-size: 120px;
  font-family: 'Yellowtail', cursive;
  @media screen and (max-width: 768px) {
    font-size: 70px;
    margin-bottom: 2rem;
  }
}

#cardIcon {
  transition: all 0.5s ease-in-out;
}
#linkedin,
#github,
#facebook,
#instagram,
#twitter {
  transition: all 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

#linkedin:hover {
  fill: #0a63bc;
}
#github:hover {
  fill: #65a81b;
}
#facebook:hover {
  fill: #1773ea;
}
#instagram:hover {
  fill: #fd5949;
}
#twitter:hover {
  fill: #1a8cd8;
}
.st0 {
  fill: #cdcdcd;
}
.st1 {
  fill: #666666;
}
.st2 {
  fill: #f7002f;
}
.st3 {
  fill: #ffe600;
}
.st4 {
  fill: #00e92a;
}
.logo-divider {
  fill: #3aafc9 !important;
}

.icon {
  height: 32px;
  width: auto;
}
.theme-icon {
  width: 20px;
  height: 20px;
}

.error {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #ee002c;
}

// animations

@keyframes btnRightAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes btnDownAnimation {
  from {
    transform: translateY(0) rotate(90deg);
  }

  to {
    transform: translateY(10px) rotate(90deg);
  }
}
