@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 4rem 0;
}

#linkedin,
#github,
#facebook,
#instagram,
#twitter {
  fill: black;
  transition: all 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

#linkedin:hover {
  fill: #0a63bc;
}
#github:hover {
  fill: #65a81b;
}
#facebook:hover {
  fill: #1773ea;
}
#instagram:hover {
  fill: #fd5949;
}
#twitter:hover {
  fill: #1a8cd8;
}
.st0 {
  fill: #cdcdcd;
}
.st1 {
  fill: #666666;
}
.st2 {
  fill: #f7002f;
}
.st3 {
  fill: #ffe600;
}
.st4 {
  fill: #00e92a;
}

.icon {
  height: 32px;
  width: auto;
}
