.heroSection {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bluredText {
  font-size: 150px;
  font-family: 'Praise', cursive;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%) rotate(-45deg);
  z-index: -5;
  opacity: 0.01;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.card {
  width: 280px;
  margin-top: 1.5em;
  padding: 2em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 1s ease-in-out;
  &:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
