.heroSection {
  max-height: 70vh;
  background-image: url(/assets/bg.png);
  background-repeat: no-repeat;
}
.bluredBox {
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  overflow: hidden;
  &::before {
    width: 100%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.5);
    filter: blur(20px);
  }
}
.content {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
}
