.heroSection {
  min-height: 100vh;
  background-image: url(/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
  position: relative;
}

.bluredText {
  font-size: 150px;
  font-family: "Praise", cursive;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%) rotate(-45deg);
  z-index: -5;
  opacity: 0.07;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.card {
  width: 280px;
  margin-top: 1.5em;
  padding: 2em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
}
